*{
    margin: 0;
    padding: 0;
}
ol li{
    list-style: none;
}

.icon {
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
#Canvas{
    background: white;
    display: block;
}
#actions{
    position: fixed;
    top: 10px;
    left: 10px;
}
svg.active{
    transform: scale(1.5);
}
svg{
    margin: 10px 10px;
    transition: all 0.3s
}
ol.colors{
    position: fixed;
    top: 60px;
    left: 25px;
}
ol.colors li{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 20px 0;
}
ol.colors li.red{
    background: red;
    transition: all 0.3s
}
ol.colors li.green{
    background: green;
    transition: all 0.3s
}
ol.colors li.blue{
    background: blue;
    transition: all 0.2s
}
ol.colors li.active{
    transform: scale(1.5);
}
