*{
    margin: 0;
    padding: 0;
}
ol li{
    list-style: none;
}
#Canvas{
    position: fixed;
    left: 0;
    top: 0;
}
.icon {
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
#Canvas{
    background: white;
    display: block;
}
#actions{
    position: fixed;
    top: 10px;
    left: 10px;
}
svg.active{
    transform: scale(1.5);
}
svg{
    margin: 10px 10px;
    transition: all 0.3s
}
ol.colors{
    position: fixed;
    top: 60px;
    left: 25px;
}
ol.colors li{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 20px 0;
}
ol.colors li.black{
    background: black;
    transform: all 0.2s； /* 点击之后放大过渡0.3s */
}
ol.colors li.red{
    background: red;
    transition: all 0.2s；
}
ol.colors li.green{
    background: green;
    transition: all 0.2s；
}
ol.colors li.blue{
    background: blue;
    transition: all 0.2s；
}
ol.colors li.active{
    transform: scale(1.5); /* 放大1.5倍 */
}
ol.sizes{
    position: fixed;
    right: 20px;
    top: 40px;
}
ol.sizes li.thin{
    border-top: 8px solid black;
    width: 32px;   
}
ol.sizes li{
    margin: 20px 0;
}
ol.sizes li.thick{
    border-top: 16px solid black;
    width: 32px;
}