body{
    margin: 0;
}
#Canvas{
    background: green;
    display: block;
}
#action{
    position: fixed;
    left: 0;
    bottom: 0;
}
#brush{
    display: none;
}
#action.x #brush{
    display: inline-block;
}
#action.x #eraser{
    display: none;
}